button {
    @include font-weight(bold);
    @include add-gradient($gradient-pallete, 135deg);
    font-size: 0.9rem;
    color: $accent-color;
    position: relative;
    border-radius: 32px;
    padding: 1em 2em;
    @include transition-ease;

    &:hover {
        filter: brightness(120%);
    }

    &:active {
        top: 2px;
    }
}
