* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
    overflow-x: hidden;
}

button {
    border: none;
}

header {
    position: absolute;
    width: 100vw;
    background-color: white;
    z-index: 1;
}
