.nav {
    @include container(1.25em);
    @include breakpoint(large) {
        padding: 1em 0;
    }
}

.nav__btn {
    @include breakpoint-display(large) {
    }
}

.nav__items {
    list-style: none;
    background: white;
    border-radius: 4px;
    top: 4.5em;
    position: absolute;
    width: 0%;
    left: 50%;
    padding: 1.75em 0 0.25em 0;
    @include transition-ease;

    &.is-active {
        width: 80%;
        margin-left: -40%;
    }
}

.nav__item {
    margin-bottom: 1.5em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease;

    &.is-active {
        visibility: visible;
        opacity: 1;
    }

    & > a {
        color: $primary-color;
        @include font-weight(medium);
        font-size: 1.2rem;

        &:hover {
            color: $hover-color;
        }
    }
}

.tint {
    position: absolute;
    background: linear-gradient(to bottom, $primary-color, transparent);
    visibility: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 65px;
    left: 0;
    opacity: 0;
    transition: opacity 500ms ease;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

.hamburger {
    &__icon,
    &__close {
        display: none;

        &.is-active {
            display: initial;
        }
    }

    @include breakpoint-display(large, none);
}
