.nav {
    @include container(1.25em);
    @include breakpoint(large) {
        padding: 1em 0;
    }
}

.nav__btn {
    @include breakpoint-display(large) {
    }
}

.nav__items {
    list-style: none;
    background: white;
    border-radius: 4px;
    top: 4.5em;
    position: absolute;
    width: 0%;
    left: 50%;
    padding: 1.75em 0 0.25em 0;
    @include transition-ease;

    &.is-active {
        width: 80%;
        margin-left: -40%;
    }

    @include breakpoint(large) {
        position: relative;
        top: 0;
        left: -13.5%;
        border-radius: 0;
        padding: 0;
        display: flex;

        &.is-active {
            width: 0%;
            left: 7%;
        }
    }
}



