.panel {
    margin-top: 0.75em;
}

.panel__img {
    margin-bottom: 0.25em;
    @include breakpoint(large) {
        margin-bottom: 0.5em;
    }
}

.panel__paragraph {
    @include breakpoint(large) {
        font-size: 1rem;
    }
}