$transition-duration: 500ms;

@mixin transition-ease($duration: $transition-duration, $delay: 0ms) {
    transition: all $duration $delay ease;
}

@mixin container($padding: 0) {
    width: 88%;
    max-width: 1000px;
    margin: 0 auto;
    padding: $padding 0;
}