// variables
$screen-size: (
    small: 375px,
    medium: 768px,
    large: 1280px,
);

// mixins
@mixin breakpoint($size) {
    @if (map-has-key($screen-size, $size)) {
        @media screen and (min-width: map-get($screen-size, $size)) {
            @content;
        }
    } @else {
        @error "There is no screen size defined for #{$size}.";
    }
}

@mixin breakpoint-display($size, $display: default) {
    @if not(map-has-key($screen-size, $size)) {
        @error "There is no screen size defined for #{$size}.";
    }

    @if $display == default {
        display: none;
        @include breakpoint($size) {
            display: initial;
            @content;
        }
    } @else if $display == none {
        @include breakpoint($size) {
            display: none;
            @content;
        }
    } @else {
        @error "There is no definition for #{$display}.";
    }
}
