[class*="l-flex"] {
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.l-flex {
    &--nav {
        flex-direction: row;
        @include flex-positioning(space-between);
    }

    &--landing {
        @include flex-positioning;
        @include breakpoint(large) {
            @include flex-positioning(flex-start);
        }
    }

    
}