[class*=l-flex] {
    display: flex;
    flex-direction: column;
}

.l-flex {
    &--nav {
        flex-direction: row;
        @include flex-positioning(space-between);
    }

    &--landing {
        @include flex-positioning;
    }

    &--footer {
        @include flex-positioning(space-between);
        padding: 2.25em 0;
    }
}